body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:407px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1751 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1752 {
  position:absolute;
  left:87px;
  top:124px;
  width:320px;
  height:568px;
}
#u1753 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1754 {
  position:absolute;
  left:87px;
  top:124px;
  width:320px;
  height:16px;
}
#u1755 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1757 {
  position:absolute;
  left:87px;
  top:140px;
  width:320px;
  height:44px;
  font-size:16px;
  text-align:left;
}
#u1758 {
  position:absolute;
  left:36px;
  top:12px;
  width:282px;
  word-wrap:break-word;
}
#u1759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u1759 {
  position:absolute;
  left:101px;
  top:151px;
  width:13px;
  height:23px;
}
#u1760 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1761 {
  position:absolute;
  left:236px;
  top:151px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1762 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1763_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:204px;
  height:181px;
}
#u1763 {
  position:absolute;
  left:155px;
  top:234px;
  width:184px;
  height:170px;
}
#u1764 {
  position:absolute;
  left:2px;
  top:77px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1765 {
  position:absolute;
  left:219px;
  top:430px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u1766 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1767 {
  position:absolute;
  left:231px;
  top:473px;
  width:32px;
  height:16px;
}
#u1768 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1769 {
  position:absolute;
  left:129px;
  top:499px;
  width:236px;
  height:80px;
  text-align:center;
}
#u1770 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
